html{
    max-width: 900px;
    margin: auto;
}

body{
    background-color:antiquewhite;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.photo {
    margin-bottom: 15px;
    border-radius: 50%;
    border: 1px solid black;
    display: block;
    margin: 0px auto;
    width: 150px;
}

#title, .subtitle, .post_title {
    color:black
}

#title{
    text-transform: uppercase;
    text-align: center;
}

.post_title {
    font-size: 16px;
    font-style: italic;
}

.post {
    background-color: white;
    padding: 10px;
    border: 3px solid black;
    border-radius: 15px;
}

.desenvolvido {
    color:black;
    padding-top: 100px;
    
}